// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Jquery
@import '~jquery-ui/themes/base/all.css';

// SWIPER
@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/modules/navigation/navigation';
@import 'node_modules/swiper/modules/pagination/pagination';

// GLOBAL CLASS CSS
.hidden {
    display: none;
}

// CATEGORIES BAR CSS
.categories-bar .navbar-nav .nav-item {
    margin: 0 10px;
}

.categories-bar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}

.categories-bar .dropdown-menu .dropdown-item {
    margin-bottom: 10px;
}

.categories-bar .dropdown-menu .dropdown-item:hover {
    background-color: #212529;
    color: #fff;
}

.categories-bar .dropdown-mega .dropdown-menu {
    width: 100%;
}

.categories-bar .dropdown-mega h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin: 0;
}

.categories-bar .list-group-item {
    font-size: 16px;
    color: #3F3B51;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px 0;
    transition: 300ms all;
}

.categories-bar .list-group-item:hover {
    color: #ffc107;
}

/* Responsive */
@media(max-width: 991.5px) {
    .categories-bar .navbar-brand {
        font-size: 30px
    }

    .categories-bar .navbar-nav .nav-item {
        margin: 5px 10px;
    }
}

// FOOTER CSS
footer {
    background: #212529;
}

footer a {
    text-decoration: none;
}

// CAMPAIGNS CSS
.campaigns-area {
    height: 800px;
}
.campaigns-area .swiper {
    width: 100%;
    height: 90%;
}
.campaigns-area .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 20px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
